html, body{
    background-color: #EBEBEB;
}
body{
    opacity: 0;
}

#number {
    position: fixed;
    font-size: 250px;
    left: 0%;
    right: 0;
    text-align: center;
    bottom: 40%;
    animation-name: pulse, shake;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-delay: 0.5s;
    color: black;
    cursor: pointer;
}

#grid{
    position: fixed;
    left: 45%;
    top: 15%;
    bottom: 50%;
    right: 15%;
    pointer-events: none;
}

#second_number{
    font-size: 12vw;
}

#wrapper{
    position: fixed;
    left: 13.5%;
    bottom: 43%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#second_wrapper{
    width: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes pulse{
    0% { font-size: 250px;}
    50% { font-size: 300px;}
    100% { font-size: 250px; }
}

@keyframes shake{
    0% { transform: rotate(0deg); }
    10% { transform: rotate(5deg); }
    20% { transform: rotate(0deg); }
    30% {transform: rotate(-5deg); }
    40% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}
